---
layout: archive
title: ""
permalink: /check/
author_profile: true
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} 

<h2 style='text-align: left; font-size: 36px; color: #333; margin-bottom: 40px;'>Faculty</h2>

<div style='text-align: left; padding: 0 1em;'>

  <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 150px; height: 150px; object-fit: cover; display: block; margin: 0;'> 
  
  <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yao Wang</a>
  
  <div style='font-size: 16px; color: #666; margin-top: 5px;'>
    Professor<br/>
    Departments of Electrical and Computer Engineering<br/>
    and Biomedical Engineering
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #333; margin-bottom: 40px;'>PhD Students</h2>

<div class="team-container">
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 1">
        <a href="https://nikopj.github.io">Member 1</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 2">
        <a href="https://nikopj.github.io">Member 2</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 3">
        <a href="https://nikopj.github.io">Member 3</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 4">
        <a href="https://nikopj.github.io">Member 4</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 5">
        <a href="https://nikopj.github.io">Member 5</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 6">
        <a href="https://nikopj.github.io">Member 6</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 7">
        <a href="https://nikopj.github.io">Member 7</a>
    </div>
    <div class="team-member">
        <img src="/images/IMG_0913.jpg" alt="Member 8">
        <a href="https://nikopj.github.io">Member 8</a>
    </div>
</div>


<h2 style='text-align: left; font-size: 36px; color: #333; margin-bottom: 40px;'>Master Students</h2>
<h2 style='text-align: left; font-size: 36px; color: #333; margin-bottom: 40px;'>Alumni</h2>
