---
layout: archive
title: ""
permalink: /people/
author_profile: true
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} 



<h2 style='text-align: center; font-size: 36px; color: #333; margin-bottom: 40px;'>Faculty</h2>

<div style='text-align: center; padding: 0 1em;'>

  <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; display: block; margin: 0 auto;'> 
  

  <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yao Wang</a>
  

  <div style='font-size: 16px; color: #666; margin-top: 5px;'>
    Professor<br/>
    Departments of Electrical and Computer Engineering<br/>
    and Biomedical Engineering
  </div>
</div>

<h2 style='text-align: center; font-size: 36px; color: #333; margin-bottom: 40px;'>PhD Students</h2>

<div style='display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; padding: 0 1em;'>

  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Xupeng Chen</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikopj.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Nikola Janjušević</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Chris Liu</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://huzi96.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Yueyu Hu</a>
  </div>


  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Haoyang Pei</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Nika Emami</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Chenqian Le</a>
  </div>
  <div style='flex: 1 1 calc(25% - 20px); box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 100%; height: auto;'>
    <a href='https://nikaemami.github.io' style='font-size: 22px; color: #333; text-decoration: none;'>Ran Gong</a>
  </div> 

</div>

<h2 style='text-align: center; font-size: 36px; color: #333; margin-bottom: 40px;'>Master Students</h2>
<h2 style='text-align: center; font-size: 36px; color: #333; margin-bottom: 40px;'>Alumni</h2> 





