---
layout: archive
title: ""
permalink: /team/
author_profile: true
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} 

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Faculty</h2>

<div style='text-align: left; padding: 0 1em;'>
  <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover; display: block; margin: 0;'> 
  <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yao Wang</a>
  <div style='font-size: 16px; color: #666; margin-top: 5px;'>
    Professor<br/>
    Departments of Electrical and Computer Engineering<br/>
    and Biomedical Engineering
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>PhD Students</h2>

<div style='display: grid; grid-template-columns: repeat(3, 200px); gap: 20px; padding: 0; justify-content: start;'>
  <!-- 1st row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Xupeng Chen</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chris Liu</a>
  </div>
  <!-- 2nd row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://huzi96.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yueyu Hu</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Haoyang Pei</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Nika Emami</a>
  </div>
  <!-- 3rd row (2 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chenqian Le</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Ran Gong</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikopj.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Tingyu Fan</a>
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Master Students</h2>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Visiting Students</h2>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Alumni</h2>
<div style='display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding: 0; justify-content: start;'>
<!-- Row 1 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jacky Yuan</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2024<br/>ByteDance</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Junbo Chen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2023<br/>Meta Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhiqi Chen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2023<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Amirhossein Khalilian-Gourtani</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>NYU Langone</div>
  </div>

  <!-- Row 2 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Benjamin Ades-aron</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhipeng Fan</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Meta Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yixiang Mao</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ziming Qiu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Meta Inc.</div>
  </div>

  <!-- Row 3 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ran Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>UCSF</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Haojie Liu</strong></div>
    <div style='font-size: 16px; color: #666;'>Visiting Ph.D. 2021<br/>Nanjing University</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Chenge Li</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2019<br/>Amazon Go</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Andy Chiang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Ebay</div>
  </div>

  <!-- Row 4 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yuan Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Alibaba</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Shervin Minaee</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Snapchat Machine Learning R&D</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Fanyi Duanmu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yilin Song</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2017<br/>Black Sesame Tech.</div>
  </div>

  <!-- Row 5 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Eymen Kurdoglu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2017<br/>Akamai Technologies</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jen-wei Kuo</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016<br/>Topcon Medical Systems Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yuanyi Xue</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016<br/>Disney Lab</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhili Guo</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016</div>
  </div>

  <!-- Row 6 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Xuan Zhao</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2014<br/>Magic Leap</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Meng Xu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2013<br/>Tencent America</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Hao Hu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2012<br/>Cisco Systems</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Cagdas Bilen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2012<br/>French Institute for Research in Computer Science and Control (INRIA)</div>
  </div>

  
