---
layout: archive
title: ""
permalink: /team/
author_profile: true
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} 

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Faculty</h2>

<div style='text-align: left; padding: 0 1em;'>
  <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover; display: block; margin: 0;'> 
  <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yao Wang</a>
  <div style='font-size: 16px; color: #666; margin-top: 5px;'>
    Professor<br/>
    Departments of Electrical and Computer Engineering<br/>
    and Biomedical Engineering
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>PhD Students</h2>

<div style='display: grid; grid-template-columns: repeat(3, 200px); gap: 20px; padding: 0; justify-content: start;'>
  <!-- 1st row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Xupeng Chen</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chris Liu</a>
  </div>
  <!-- 2nd row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://huzi96.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yueyu Hu</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Haoyang Pei</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_7664_2.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Nika Emami</a>
  </div>
  <!-- 3rd row (2 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/Chenqian.jpeg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chenqian Le</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Ran Gong</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Tingyu Fan</a>
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Master Students</h2>


<div style='font-size: 22px; color: #333;'>Asif Mammadov</div>
<div style='font-size: 22px; color: #333;'>Jinhan Zhang</div>
<div style='font-size: 22px; color: #333;'>Muduo Xu</div>
<div style='font-size: 22px; color: #333;'>Jianxiong Shen</div>
<div style='font-size: 22px; color: #333;'>Manoj Srinivasan</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Visiting Students</h2>

<div style='font-size: 22px; color: #333;'>Jinaghao Qian, Summer 2024</div>
<div style='font-size: 22px; color: #333;'>Tianyu He, Summer 2024</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Alumni</h2>
<div style='display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding: 0; justify-content: start;'>
<!-- Row 1 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Nikola Janjušević</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2024<br/>NYU Langone</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jacky Yuan</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2024<br/>ByteDance</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Junbo Chen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2023<br/>Meta Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhiqi Chen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2023<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Amirhossein Khalilian-Gourtani</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>NYU Langone</div>
  </div>

  <!-- Row 2 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Benjamin Ades-aron</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhipeng Fan</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Meta Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yixiang Mao</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ziming Qiu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>Meta Inc.</div>
  </div>

  <!-- Row 3 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ran Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2022<br/>UCSF</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Haojie Liu</strong></div>
    <div style='font-size: 16px; color: #666;'>Visiting Ph.D. 2021<br/>Nanjing University</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Chenge Li</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2019<br/>Amazon Go</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Andy Chiang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Ebay</div>
  </div>

  <!-- Row 4 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yuan Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Alibaba</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Shervin Minaee</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Snapchat Machine Learning R&D</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Fanyi Duanmu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Apple Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yilin Song</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2017<br/>Black Sesame Tech.</div>
  </div>

  <!-- Row 5 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Eymen Kurdoglu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2017<br/>Akamai Technologies</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jen-wei Kuo</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016<br/>Topcon Medical Systems Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yuanyi Xue</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016<br/>Disney Lab</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhili Guo</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2016</div>
  </div>

  <!-- Row 6 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Xuan Zhao</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2014<br/>Magic Leap</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Meng Xu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2013<br/>Tencent America</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Hao Hu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2012<br/>Cisco Systems</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Cagdas Bilen</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2012<br/>French Institute for Research in Computer Science and Control (INRIA)</div>
  </div>

  <!-- Row 1 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Yen-Fu Ou</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2012<br/>Qualcomm</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhan Ma</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2011<br/>Faculty at Nanjing University, China</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ozgu Alay</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2010<br/>Simula Research Laboratory, Norway</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Tao Liu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2009<br/>Adap.tv</div>
  </div>
  
  <!-- Row 2 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhengye Liu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2008<br/>AT&T Labs</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Beibei Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2007<br/>Apple Inc., Harmonic Inc.</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Xiaoan Lu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2006<br/>Thomson Licensing LLC (Technicolor)</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Shunan Lin</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2004<br/>Harmonic Inc.</div>
  </div>
  
  <!-- Row 3 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Fatih Porikli</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2002<br/>Faculty at Australian National University, IEEE Fellow</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Anthony Vetro</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2001<br/>Mitsubishi Electric Research Labs (MERL), IEEE Fellow</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Dooman Chung</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2000</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jincheng Huang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2000<br/>Lexmark International, Inc.</div>
  </div>
  
  <!-- Row 4 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Zhu Liu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 2000<br/>Alibaba</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Rushang Wang</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1999</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Wenwu Zhu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1996<br/>Faculty at Tsinghua University, China, IEEE Fellow</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Richard Yuqi Yao</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1996<br/>Microsoft</div>
  </div>
  
  <!-- Row 5 -->
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Jianhong Hu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1996<br/>IBM</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Ouseb Lee</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1994<br/>Korea</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Qin-Fan Zhu</strong></div>
    <div style='font-size: 16px; color: #666;'>Ph.D. 1993<br/>Casa Systems, Inc., Andover, MA</div>
  </div>
  <div style='box-sizing: border-box;'>
    <div style='font-size: 18px; color: #333;'><strong>Renyun Li</strong></div>
    <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
  </div>

<!-- Row 6 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Parisima Abdali</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Arushi Arora</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Samyak Rawlekar</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Vincent Zheng</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>

<!-- Row 7 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Vara Lakshmi Bayanagari</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Zhijing Ye</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Chenhao Zhang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Prerna Luthra</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>

<!-- Row 8 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ankush Pratap Singh</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Utkarsh Grover</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Mayank Poddar</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Youming Zhang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>

<!-- Row 9 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Jayeon Koo</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Elle Park</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Tanaya Joshi</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2024</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Saaketh Koundinya</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2023<br/>New York University</div>
</div>

<!-- Row 10 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yue Li</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2022</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Tianhao Li</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021<br/>Ph.D. at UT Austin</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Albert Liu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Qiming Cao</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021<br/>Ph.D. at Purdue University</div>
</div>

<!-- Row 11 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ojaswita Lokre</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021<br/>AIQ Solutions</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Davis Du</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Hejian Liu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2021</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Simay Yazicioglu</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2021<br/>Amazon Inc.</div>
</div>

<!-- Row 12 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Jeffery Mao</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2020<br/>Ph.D. at NYU Tandon</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Kun Bi</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2020</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Tongda Xu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2020</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Kanishk Gandhi</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2020</div>
</div>

<!-- Row 13 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Keerthi Ravi Sravan</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Ph.D. at Columbia University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Aodong Li</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Ph.D. at UC Irvine</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Weixi Zhang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Ph.D. at Fudan University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Hui Wei</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>NYU Langone Medical Center</div>
</div>

  <!-- Row 15 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Feng Wang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Ph.D. at Syracuse University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Jack Langerman</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019<br/>Nokia Bell Lab</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Zhaoxi Chen</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Grubhub</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Nitin Nair</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Connected Future Labs</div>
</div>

<!-- Row 16 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Alp Aygar</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019<br/>Apple Inc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ziyu Shu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2016<br/>NYU Langone Medical Center</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yi Zhou</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2015<br/>Harmonic Inc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ahmad Masoudi</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2014<br/>Ph.D. student at University of Arizona</div>
</div>

<!-- Row 17 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Beril Erkin</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2014<br/>Google</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yisheng Zhao</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2013<br/>Dialogic Inc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Goktekin Durusoy</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2013<br/>Ph.D. student at Bogazici University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Shan He</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2013</div>
</div>

<!-- Row 18 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yao Ma</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2013</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Xiaozhong Xu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2012<br/>Tencent America, MediaTek Inc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Minyi Yang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2011<br/>JW Player</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ran Ding</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2008<br/>Google</div>
</div>

<!-- Row 19 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Zhongbo Zhang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Zhongke Wang</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Erh Ya Lin</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yuantao Wu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2000<br/>Real Communications Inc.</div>
</div>

<!-- Row 20 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Wanrong Lin</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2000<br/>Harmonic Inc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Xiaofeng Xu</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc.</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yuxi Luo</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2020<br/>MS at CMU</div>
</div>

<!-- Row 21 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Antoine Ratouchniak (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2023<br/>École normale supérieure Paris-Saclay</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ran Gong (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2023 Summer<br/>Tsinghua University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Changyue Ma (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>Ph.D. 2019<br/>University of Science and Technology</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Chuanmin Jia (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Peking University</div>
</div>

<!-- Row 22 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Zhaoyi Liu (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>Ph.D. 2018<br/>Beijing Institute of Technology</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Yiming Qiu (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>BUPT</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Tianyu Zhao (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>Tsinghua University</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Valentin Abadie (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>M.Sc. 2019 Summer<br/>École normale supérieure Paris-Saclay</div>
</div>

<!-- Row 23 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Atul Kumar Pandey (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>IIT</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Ariana Cai (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>NYU Shanghai</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Shashank Gupta (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>Indian Institute of Technology, Kanpur</div>
</div>
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>Chuiyu Wang (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>B.Sc. 2019 Summer<br/>Beihang University</div>
</div>

<!-- Row 24 -->
<div style='box-sizing: border-box;'>
  <div style='font-size: 18px; color: #333;'><strong>William Das (Visiting Students)</strong></div>
  <div style='font-size: 16px; color: #666;'>High School 2019 Summer<br/>Hunter College High School</div>
</div>
