---
layout: archive
title: ""
permalink: /team/
author_profile: true
---

{% include base_path %}

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} 

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Faculty</h2>

<div style='text-align: left; padding: 0 1em;'>
  <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover; display: block; margin: 0;'> 
  <a href='https://engineering.nyu.edu/faculty/yao-wang' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yao Wang</a>
  <div style='font-size: 16px; color: #666; margin-top: 5px;'>
    Professor<br/>
    Departments of Electrical and Computer Engineering<br/>
    and Biomedical Engineering
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>PhD Students</h2>

<div style='display: grid; grid-template-columns: repeat(3, 200px); gap: 20px; padding: 0; justify-content: start;'>
  <!-- 1st row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Xupeng Chen</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chris Liu</a>
  </div>
  <!-- 2nd row (3 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://huzi96.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Yueyu Hu</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Haoyang Pei</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Nika Emami</a>
  </div>
  <!-- 3rd row (2 items) -->
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Chenqian Le</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikaemami.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Ran Gong</a>
  </div>
  <div style='box-sizing: border-box; text-align: center;'>
    <img src='/images/IMG_0913.jpg' style='border-radius: 50%; width: 200px; height: 200px; object-fit: cover;'>
    <a href='https://nikopj.github.io' style='display: block; font-size: 22px; color: #333; text-decoration: none; margin-top: 10px;'>Tingyu Fan</a>
  </div>
</div>

<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Master Students</h2>
<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Visiting Students</h2>
<h2 style='text-align: left; font-size: 36px; color: #6D1F8A; margin-bottom: 40px;'>Alumni</h2>
| Name        | Ph.D. Year | Company    |
|-------------|------------|------------|
| Jacky Yuan  | 2024       | ByteDance  |
| Junbo Chen  | 2023       | Meta Inc.  |
| Zhiqi Chen  | 2023       | Apple Inc. |

